.loginFormContainer {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: var(--text-font);
}
.loginFormContainer h1 {
  color: #2d333a;
}
.loginFormContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginFormContainer input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.loginFormContainer input:focus {
  outline: none;
  border-color: #505ef6;
}

.loginFormContainer button {
  width: 220px;
  border: none;
  border-radius: 5px;
  padding: 12px;
  margin-top: 5px;
  background-color: #10a37f;
  color: #fff;
  cursor: pointer;
  position: static;
}

.loginFormContainer span {
  font-size: 15px;
  color: red;
  margin-top: 10px;
}
